<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="spinner" *ngIf="isLoading === true">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div class="alert alert-danger" *ngIf="error != null">
      <p>{{ error }}</p>
    </div>
    <div *ngIf="isLoading === false">
      <h3 *ngIf="isLoginMode === true">Log in to your account</h3>
      <h3 *ngIf="isLoginMode === false">Sign up for an account</h3>
      <p>
        <span *ngIf="isLoginMode === true">Don't have an account?</span>
        <span *ngIf="isLoginMode === false">Already have an account?</span>
        <a (click)="onSwitchMode()">
          {{ isLoginMode === true ? 'Sign up' : 'Login'}}
        </a>
      </p>
      <app-auth-form [isLoginMode]="isLoginMode"></app-auth-form>
    </div>
  </div>
</div>
