<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="spinner" *ngIf="isLoading === true">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div class="alert alert-danger" *ngIf="error != null">
      <p>{{ error }}</p>
    </div>
    <div *ngIf="isLoading === false">
      <app-login *ngIf="isLoginMode === true"
                 (switchToSignUp)="onSwitchMode()">
      </app-login>
      <app-sign-up *ngIf="isLoginMode === false"
                   (switchToLogin)="onSwitchMode()">
      </app-sign-up>
    </div>
  </div>
</div>
