<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <ul class="list-group list-unstyled">
      <li class="list-group-item"
          *ngFor="let ingredient of (ingredients | async).ingredients;
                  let i = index">
        <span>{{ ingredient.name }}</span>
        <span> - </span>
        <span>{{ ingredient.amount }}</span>
        <div class="pull-right">
          <button class="btn btn-xs btn-primary" (click)="onEditItem(i)">
            Edit
          </button>
          <button class="btn btn-xs btn-danger" (click)="onDeleteItem(i)">
            Delete
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>
